.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user{
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message__usercard{
    background-color: rgb(34, 0, 255) !important;
}
.message__guestcard{
    background-color:teal !important;
}